<div id="container">

<% if flash[:error].present? %>
	<div class="errors_div">
	<% flash[:error].each do |obj,errs| %>
		<% errs.each do |err| %>
			<%= "#{obj.titleize} #{err}"%>
		<% end %>
	<% end %>
	</div>
<% end %>

<div id="all_alarms">
<% @alarms.each do |alarm| %>
	<div class="alarm_div">
		<div class="upvote_div">
			<div class="upvote_score">
				<% if alarm.score < 0 %>
					<span class="negative">
				<% else %>
					<span>
				<% end %>
					<%= alarm.score %>
				<span>
			</div>
			<div class="upvote_buttons">
			<%= form_tag controller: :upvotes, action: :create do %>
				<%= hidden_field_tag 'alarm_id', alarm.id %>
				<%= hidden_field_tag 'positive', 'true' %>
				<%= submit_tag '↑' %>
			<% end %>
			<%= form_tag controller: :upvotes, action: :create do %>
				<%= hidden_field_tag 'alarm_id', alarm.id %>
				<%= hidden_field_tag 'positive', 'false' %>
				<%= submit_tag '↓' %>
			<% end %>
			</div>
		</div>
		<%= alarm.username %>: <%= alarm.message %>
	</div>
<% end %>
</div>

<div id="post_alarm">
<%= form_tag action: :create do %>
	<div>
		<%= label_tag 'Username:' %>
		<%= text_field_tag :username %>
	</div>
	<div>
		<%= label_tag 'Message:' %>
		<%= text_field_tag :message %>
	</div>
	<div class="submit">
		<%= submit_tag 'Post' %>
	</div>
<% end %>
</div>

</div>